

div *{
    overflow:auto;
}

.container{
    background-color: hsl(212, 45%, 89%);
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 15%;
    padding-bottom: 25%;
}

.frame{ 
    padding: 5%;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}
.qr-code{
    max-width:100%;
    border-radius: inherit;
    height:auto;

}
.objective{
    color:hsl(218, 44%, 22%);
    text-align: center;
    font-size: 25px;
    
}
.description{
   color:hsl(220, 15%, 55%);
   text-align: center;
   font-size: 15px; 
}
.attribution { font-size:10px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }